In [ ]:
创业项目: 65388/83059
投资机构: all/2532
投资人:   all/15756

In [24]:
import json
def read_file(name):
    with open(str(name) + ".json") as json_file:
        return json.load(json_file)
def read_file_full_name(file):
    with open(file) as json_file:
        return json.load(json_file)
def write_file(name, data):
    f = open(str(name) + '.json', 'w')
    f.write(json.dumps(data))
    f.close()

In [43]:
def unique(seq, key):
    seen = set()
    seen_add = seen.add
    return [x for x in seq if x[key] not in seen and not seen_add(x[key])]
def sort_and_uniqify(data):
    return unique(sorted(data, key=lambda x: x['id'], reverse=True), 'id')

In [4]:
shenzhen = read_file(21903)
guangzhou = read_file(21901)

In [6]:
len(shenzhen)

7303

In [7]:
len(guangzhou)

4498

In [8]:
guangdong = read_file(119)
len(guangdong)

10504

In [9]:
merge = guangdong + shenzhen + guangzhou

In [12]:
guangdong = sort_and_uniqify(merge)

In [13]:
len(guangdong)

12818

In [15]:
write_file(119, guangdong)

In [16]:
len(read_file(119))

12818

In [20]:
hangzhou = read_file(21101)
print('hangzhou : ' + str(len(hangzhou)))
zhejiang = read_file(111)
print('zhejiang : ' + str(len(zhejiang)))
zhejiang = sort_and_uniqify(hangzhou + zhejiang)
print(('total : ' + str(len(zhejiang))))
write_file(111, zhejiang)
print('file check : ' + str(len(read_file(111))))

hangzhou : 4176
zhejiang : 5111
total : 5111
file check : 5111

In [22]:
chengdu = read_file(22301)
print('chengdu : ' + str(len(chengdu)))
sichuan = read_file(123)
print('sichuan : ' + str(3027))
sichuan = sort_and_uniqify(chengdu + sichuan)
print(('merge : ' + str(len(sichuan))))
write_file(123, sichuan)
print('file check : ' + str(len(read_file(123))))

chengdu : 2848
sichuan : 3027
merge : 3039
file check : 3039

In [20]:
files = []
for file in os.listdir():
    if file.endswith(".json"):
        files.append(file)

In [22]:
len(files)

35

In [30]:
data = []

In [100]:
#merge all data
data = []
count = [] 
for file in files:
    temp = read_file_full_name(file)
    print(temp[0]['cityStr'] + ' : ' + str(len(temp)))
    count.append([temp[0]['cityStr'], len(temp)])
    data += temp
print('total : ' + str(len(data)))
data = sort_and_uniqify(data)
print('uniqify : ' + str(len(data)))
count.append(['sum', len(data)])

北京市 : 15032
天津市 : 922
河北省 : 387
山西省 : 216
内蒙古 : 114
辽宁省 : 743
吉林省 : 207
黑龙江省 : 229
上海市 : 9750
江苏省 : 3621
浙江省 : 5111
安徽省 : 702
福建省 : 1970
江西省 : 440
山东省 : 1469
河南省 : 890
湖北省 : 1542
湖南省 : 961
广东省 : 12818
广西 : 296
海南省 : 164
重庆市 : 893
四川省 : 3039
贵州省 : 182
云南省 : 288
西藏 : 15
陕西省 : 1058
甘肃省 : 81
青海省 : 24
宁夏 : 36
新疆 : 83
台湾 : 319
香港 : 304
澳门 : 4
海外 : 1541
total : 65451
uniqify : 65388

In [50]:
count

[['北京市', 15032],
 ['天津市', 922],
 ['河北省', 387],
 ['山西省', 216],
 ['内蒙古', 114],
 ['辽宁省', 743],
 ['吉林省', 207],
 ['黑龙江省', 229],
 ['上海市', 9750],
 ['江苏省', 3621],
 ['浙江省', 5111],
 ['安徽省', 702],
 ['福建省', 1970],
 ['江西省', 440],
 ['山东省', 1469],
 ['河南省', 890],
 ['湖北省', 1542],
 ['湖南省', 961],
 ['广东省', 12818],
 ['广西', 296],
 ['海南省', 164],
 ['重庆市', 893],
 ['四川省', 3039],
 ['贵州省', 182],
 ['云南省', 288],
 ['西藏', 15],
 ['陕西省', 1058],
 ['甘肃省', 81],
 ['青海省', 24],
 ['宁夏', 36],
 ['新疆', 83],
 ['台湾', 319],
 ['香港', 304],
 ['澳门', 4],
 ['海外', 1541],
 ['sum', 65388]]

In [52]:
# import matplotlib.pyplot as plt
# import plotly.plotly as py

In [53]:
len(data)

65388

In [54]:
write_file('startups', data)

In [55]:
len(count)

36

In [57]:
import numpy as np
count = np.array(count)

In [58]:
type(count)

numpy.ndarray

In [65]:
import pandas as pd
count_pd = pd.DataFrame(count)
count_pd.to_csv("startups_sum_by_district.csv")

In [74]:
sum_english = pd.read_excel('startups_sum_by_district.xlsx')

In [76]:
len(sum_english)

35

In [79]:
type(sum_english)

pandas.core.frame.DataFrame

In [81]:
for row in sum_english.rows:
    print(row)

AttributeError: 'DataFrame' object has no attribute 'rows'

In [83]:
sum_english = sum_english.get_values()

In [84]:
len(sum_english)

35

In [87]:
sum_english[1][0]

'Tianjin'

In [109]:
cnt  = 0
for city in sum_english:
#     print(count[cnt])
    count[cnt].insert(1, city[0])
    cnt +=1

In [105]:
count.pop()

['sum', 65388]

In [106]:
len(count)

35

In [108]:
print(cnt)

0

In [110]:
count

[['北京市', 'Beijing', 15032],
 ['天津市', 'Tianjin', 922],
 ['河北省', 'Heibei', 387],
 ['山西省', 'Shanxi', 216],
 ['内蒙古', 'Neimeng', 114],
 ['辽宁省', 'Liaoning', 743],
 ['吉林省', 'Jilin', 207],
 ['黑龙江省', 'Heilongjiang', 229],
 ['上海市', 'Shanghai', 9750],
 ['江苏省', 'Jiangsu', 3621],
 ['浙江省', 'Zhejiang', 5111],
 ['安徽省', 'Anhui', 702],
 ['福建省', 'Fujian', 1970],
 ['江西省', 'Jiangxi', 440],
 ['山东省', 'Shandong', 1469],
 ['河南省', 'Henan', 890],
 ['湖北省', 'Hubei', 1542],
 ['湖南省', 'Hunan', 961],
 ['广东省', 'Guangdong', 12818],
 ['广西', 'Guangxi', 296],
 ['海南省', 'Hainan', 164],
 ['重庆市', 'Chongqing', 893],
 ['四川省', 'Sichuan', 3039],
 ['贵州省', 'Guizhou', 182],
 ['云南省', 'Yunnan', 288],
 ['西藏', 'Xizang', 15],
 ['陕西省', 'Shanxi', 1058],
 ['甘肃省', 'Guansu', 81],
 ['青海省', 'Qinghai', 24],
 ['宁夏', 'Ningxia', 36],
 ['新疆', 'Xinjiang', 83],
 ['台湾', 'Taiwan', 319],
 ['香港', 'Xianggang', 304],
 ['澳门', 'Aomen', 4],
 ['海外', 'Haiwai', 1541]]

In [112]:
count = pd.DataFrame(count)
count.to_excel("startups_sum_by_district.xlsx")